'.text.html.cfm':
  'editor':
    'foldEndPattern': '(?x)\n\t\t(</(?i:head|body|table|thead|tbody|tfoot|tr|div|select|fieldset|style|script|ul|ol|form|dl|cfloop|cfif|cfswitch|cfcomponent|cffunction|cfcase|cfdefaultcase|cfsavecontent)>\n\t\t|^(?!.*?<!---).*?---\\s*>\n\t\t)'
'.text.html.cfm .meta.tag.other.html':
  'editor':
    'completions': [
      'cfabort'
      'CFABORT'
      'cfapplet'
      'CFAPPLET'
      'cfapplication'
      'CFAPPLICATION'
      'cfargument'
      'CFARGUMENT'
      'cfassociate'
      'CFASSOCIATE'
      'cfbreak'
      'CFBREAK'
      'cfcache'
      'CFCACHE'
      'cfcalendar'
      'CFCALENDAR'
      'cfcase'
      'CFCASE'
      'cfcatch'
      'CFCATCH'
      'cfchart'
      'CFCHART'
      'cfchartdata'
      'CFCHARTDATA'
      'cfchartseries'
      'CFCHARTSERIES'
      'cfcol'
      'CFCOL'
      'cfcollection'
      'CFCOLLECTION'
      'cfcomponent'
      'CFCOMPONENT'
      'cfcontent'
      'CFCONTENT'
      'cfcookie'
      'CFCOOKIE'
      'cfdbinfo'
      'CFDBINFO'
      'cfdefaultcase'
      'CFDEFAULTCASE'
      'cfdirectory'
      'CFDIRECTORY'
      'cfdiv'
      'CFDIV'
      'cfdocument'
      'CFDOCUMENT'
      'cfdocumentitem'
      'CFDOCUMENTITEM'
      'cfdocumentsection'
      'CFDOCUMENTSECTION'
      'cfdump'
      'CFDUMP'
      'cfelse'
      'CFELSE'
      'cfelseif'
      'CFELSEIF'
      'cferror'
      'CFERROR'
      'cfexecute'
      'CFEXECUTE'
      'cfexit'
      'CFEXIT'
      'cffile'
      'CFFILE'
      'cfflush'
      'CFFLUSH'
      'cfform'
      'CFFORM'
      'cfformgroup'
      'CFFORMGROUP'
      'cfformitem'
      'CFFORMITEM'
      'cfftp'
      'CFFTP'
      'cffunction'
      'CFFUNCTION'
      'cfgrid'
      'CFGRID'
      'cfgridcolumn'
      'CFGRIDCOLUMN'
      'cfgridrow'
      'CFGRIDROW'
      'cfgridupdate'
      'CFGRIDUPDATE'
      'cfheader'
      'CFHEADER'
      'cfhtmlhead'
      'CFHTMLHEAD'
      'cfhttp'
      'CFHTTP'
      'cfhttpparam'
      'CFHTTPPARAM'
      'cfif'
      'CFIF'
      'cffinally'
      'CFFINALLY'
      'cfcontinue'
      'CFCONTINUE'
      'cfimap'
      'CFIMAP'
      'cfimport'
      'CFIMPORT'
      'cfinclude'
      'CFINCLUDE'
      'cfindex'
      'CFINDEX'
      'cfinput'
      'CFINPUT'
      'cfinsert'
      'CFINSERT'
      'cfinvoke'
      'CFINVOKE'
      'cfinvokeargument'
      'CFINVOKEARGUMENT'
      'cflayout'
      'CFLAYOUT'
      'cflayoutarea'
      'CFLAYOUTAREA'
      'cfldap'
      'CFLDAP'
      'cflocation'
      'CFLOCATION'
      'cflock'
      'CFLOCK'
      'cflog'
      'CFLOG'
      'cflogin'
      'CFLOGIN'
      'cfloginuser'
      'CFLOGINUSER'
      'cflogout'
      'CFLOGOUT'
      'cfloop'
      'CFLOOP'
      'cfmail'
      'CFMAIL'
      'cfmailparam'
      'CFMAILPARAM'
      'cfmailpart'
      'CFMAILPART'
      'cfmodule'
      'CFMODULE'
      'cfntauthenticate'
      'CFNTAUTHENTICATE'
      'cfobject'
      'CFOBJECT'
      'cfobjectcache'
      'CFOBJECTCACHE'
      'cfoutput'
      'CFOUTPUT'
      'cfparam'
      'CFPARAM'
      'cfpod'
      'CFPOD'
      'cfpop'
      'CFPOP'
      'cfprocessingdirective'
      'CFPROCESSINGDIRECTIVE'
      'cfprocparam'
      'CFPROCPARAM'
      'cfprocresult'
      'CFPROCRESULT'
      'cfproperty'
      'CFPROPERTY'
      'cfquery'
      'CFQUERY'
      'cfqueryparam'
      'CFQUERYPARAM'
      'cfregistry'
      'CFREGISTRY'
      'cfreport'
      'CFREPORT'
      'cfreportparam'
      'CFREPORTPARAM'
      'cfrethrow'
      'CFRETHROW'
      'cfreturn'
      'CFRETURN'
      'cfsavecontent'
      'CFSAVECONTENT'
      'cfschedule'
      'CFSCHEDULE'
      'cfscript'
      'CFSCRIPT'
      'cfsearch'
      'CFSEARCH'
      'cfselect'
      'CFSELECT'
      'cfset'
      'CFSET'
      'cfsetting'
      'CFSETTING'
      'cfsilent'
      'CFSILENT'
      'cfslider'
      'CFSLIDER'
      'cfstoredproc'
      'CFSTOREDPROC'
      'cfswitch'
      'CFSWITCH'
      'cftable'
      'CFTABLE'
      'cftextarea'
      'CFTEXTAREA'
      'cftextinput'
      'CFTEXTINPUT'
      'cfthrow'
      'CFTHROW'
      'cftimer'
      'CFTIMER'
      'cftrace'
      'CFTRACE'
      'cftransaction'
      'CFTRANSACTION'
      'cftree'
      'CFTREE'
      'cftreeitem'
      'CFTREEITEM'
      'cftry'
      'CFTRY'
      'cfupdate'
      'CFUPDATE'
      'cfwddx'
      'CFWDDX'
      'cfwindow'
      'CFWINDOW'
      'cfxml'
      'CFXML'
      'cfajaximport'
      'CFAJAXIMPORT'
      'cfmenu'
      'CFMENU'
      'cfmenuitem'
      'CFMENUITEM'
      'cfprint'
      'CFPRINT'
      'cfsprydataset'
      'CFSPRYDATASET'
      'cftooltip'
      'CFTOOLTIP'
      'cfajaxproxy'
      'CFAJAXPROXY'
      'cfexchangecalendar'
      'CFEXCHANGECALENDAR'
      'cfexchangeconnection'
      'CFEXCHANGECONNECTION'
      'cfexchangecontact'
      'CFEXCHANGECONTACT'
      'cfexchangefilter'
      'CFEXCHANGEFILTER'
      'cfexchangemail'
      'CFEXCHANGEMAIL'
      'cfexchangetask'
      'CFEXCHANGETASK'
      'cffeed'
      'CFFEED'
      'cfimage'
      'CFIMAGE'
      'cfinterface'
      'CFINTERFACE'
      'cfpdf'
      'CFPDF'
      'cfpdfform'
      'CFPDFFORM'
      'cfpdfformparam'
      'CFPDFFORMPARAM'
      'cfpdfparam'
      'CFPDFPARAM'
      'cfpdfsubform'
      'CFPDFSUBFORM'
      'cfpresentation'
      'CFPRESENTATION'
      'cfpresentationslide'
      'CFPRESENTATIONSLIDE'
      'cfpresenter'
      'CFPRESENTER'
      'cfthread'
      'CFTHREAD'
      'cfzip'
      'CFZIP'
      'cfzipparam'
      'CFZIPPARAM'
      'cfprogressbar'
      'CFPROGRESSBAR'
      'cfspreadsheet'
      'CFSPREADSHEET'
      'cfmediaplayer'
      'CFMEDIAPLAYER'
      'cffileupload'
      'CFFILEUPLOAD'
      'cfsharepoint'
      'CFSHAREPOINT'
      'cfmapitem'
      'CFMAPITEM'
      'cfmap'
      'CFMAP'
      'cfmessagebox'
      'CFMESSAGEBOX'
    ]
